body{
    font-family: 'Nunito', 'Verdana';
}

.arrow-symbol{
    font-size: 25px;
}

.nav-item :hover{
    color: rgb(0, 0, 0) !important;
}

.nav-title{
    font-family: 'monospace', 'Consolas';
    font-weight:bold;
}